<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://proxy.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.shareicon.net%2Fdownload%2F2017%2F04%2F14%2F883959_science_512x512.png&f=1">
    <title>GrandPy Bot</title>
    <h1>Bienvenue, je suis GrandPy Bot, posez moi une question à propos d'un lieu !</h1>
    <h3><i>Exemple : "Salut GrandPy ! Est-ce que tu connais l'adresse d'OpenClassrooms ?"</i></h3>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
    integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
    crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
    integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
    crossorigin=""></script>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
</head>

<body>
    <script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
    <div class="content">  
        <div id="chatbox">
        </div>  
        <form id="input">
            <textarea id="textarea" placeholder="Salut GrandPy ! Est-ce que tu connais l'adresse d'OpenClassRooms ?"></textarea>
        </form>
    </div>
    <script type="text/javascript" src="../static/app.js"></script>
</body>

<footer>
    Maxence VILEO - <a href="https://github.com/m-a-xX/Project_7-OpenClassrooms">Projet GitHub</a>
</footer>

</html>
